@import "@fontsource/ibm-plex-sans-thai/400.css";
@import "@fontsource/ibm-plex-sans-thai/500.css";
@import "@fontsource/ibm-plex-sans-thai/600.css";
@import "@fontsource/ibm-plex-sans-thai/700.css";
@import "@fontsource/sarabun/400.css";
@import "@fontsource/sarabun/500.css";
@import "@fontsource/sarabun/600.css";
@import "@fontsource/sarabun/700.css";
@import "@fontsource/ibm-plex-mono/400.css";
@import "@fontsource/ibm-plex-mono/500.css";
@import "@fontsource/ibm-plex-mono/600.css";
@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@theme inline {
  --font-sans: "IBM Plex Sans Thai", sans-serif;
  --font-serif: "Sarabun", serif;
  --font-mono: "IBM Plex Mono", monospace;
}

html {
  @apply font-sans;
  scrollbar-gutter: stable;
}

body {
  @apply font-sans;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}
